@model Remember.Domain.CardBox
@{
    ViewBag.Title = "Details";
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />

<div style="text-align: center;">
    <button class="layui-btn layui-btn-sm" onclick="onClose()">返回</button>
</div>
<form class="layui-form">
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Name, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextBoxFor(model => model.Name, new { @class = "layui-input", placeholder = "请输入" + Html.DisplayNameFor(m => m.Name), autocomplete = "off", Value = Model.Name, disabled = "disabled" })
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        @Html.LabelFor(model => model.Description, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextAreaFor(model => model.Description, new { @class = "layui-textarea", placeholder = "请输入" + Html.DisplayNameFor(m => m.Description), autocomplete = "off", Value = Model.Description, disabled = "disabled" })
        </div>
    </div>
</form>

<script src="~/dist/layui/layui.js"></script>
<script src="~/dist/jquery/jquery-3.3.1.min.js"></script>
<script>
    layui.use('form', function () {
        form = layui.form;
    });

    function onClose() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>