@{
	Layout = "~/Areas/Account/Views/Shared/_LayoutMain.cshtml";
	ViewBag.Title = "登录 - TES";
}

@section head{
	<link href="/libs/remember/css/login.css" rel="stylesheet" />
}
<div class="title-line">
	<span class="tit">登录</span>
</div>
<div class="login-box">
	<div class="login-left"></div>
	<div class="line"></div>
	<div class="login-right">
		<div class="form-login">
			<div class="input-box">
				<ul>
					<li class="item userName status-box">
						<input type="text" placeholder="用户名/手机号/邮箱" value="" />
						<span class="status"></span>
						<div class="text">
							<p class="tips"></p>
						</div>
					</li>
					<li class="item password status-box">
						<input type="password" placeholder="密码" value="" />
						<span class="status"></span>
						<div class="text">
							<p class="tips"></p>
						</div>
					</li>
					<li class="item captcha">
						<div class="verify-holder">
							<div id="btnVerifyCode" class="verify-detect" onclick="return false">点击验证</div>
							<span id="verify-box" class="verify-box verify-box-detect"></span>
						</div>
						<div>
							<input id="inputTicket" type="hidden" />
							<input id="inputRandstr" type="hidden" />
							<input id="returnUrl" type="hidden" value="@ViewBag.ReturnUrl" />
						</div>
					</li>
					<li class="remember">
						<label>
							<input type="checkbox" value="isRememberMe" />
							记住我
							<span>不是自己的电脑上不要勾选此项</span>
							@*<a target="_blank" href="/login/findpassword" class="forget-password">找回密码?</a>*@
							@Html.ActionLink("找回密码?", "FindPassword", "Login", null, new { target = "_blank", @class = "forget-password" })
						</label>
						<div class="text">
							<p class="tips"></p>
						</div>
					</li>
					<li class="btn-box">
						<a class="btn btn-login">登录</a>
						@*<a href="/register" class="btn btn-reg">注册</a>*@
						@Html.ActionLink("注册", "Index", "Register", null, new { @class = "btn btn-reg" })
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
@section foot{
	<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
	<script src="/libs/remember/js/login.js"></script>
}