<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/dist/mdui/css/mdui.min.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div class="mdui-container-fluid">
        <div class="mdui-row .mdui-typo">
            <div class="mdui-col-xs-12">
                <h1 class="mdui-text-center">Remember 安装向导</h1>
            </div>
        </div>
        <div id="js-content-info" class="mdui-row">
            @RenderBody()
        </div>
        <div class="mdui-row mdui-p-y-1">
            <div class="mdui-col-xs-8 mdui-col-offset-xs-2">
                <div class="mdui-divider-inset mdui-center"></div>
            </div>
        </div>
        <div class="mdui-row mdui-p-y-2">
            <div class="mdui-col-xs-12 mdui-text-center">Remember</div>
        </div>
    </div>
    <script src="~/dist/mdui/js/mdui.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("body", false)
</body>
</html>