@{
    ViewBag.Title = "安装 Remember";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/css/mdui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var getProgressTimer = null;
        function startInstall() {
            $("#js-install-btn a").attr("disabled", "disabled").text("正在安装");
            getProgressTimer = setInterval(getProgress, 100);
            // 获取总步骤数
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProgressCount")",
                success: function (data) {
                    $("#js-progress-bar").data("count", data)
                }
            });
        }

        function getProgress() {
            $.ajax({
                url: "@Url.Action("GetProgress")",
                method: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        // 成功获取安装进度---继续
                        // 展示当前进度
                        showProgress(data.progress);
                    } else if (data.code == -1) {
                        // 安装过程终止---暂停计时器
                        window.clearInterval(getProgressTimer);
                    }
                }
            });
        }

        function showProgress(progress) {
            var htmlTag, info, isSuccess, icon, tempLi = '';
            var currentIndex = 0;
            for (var pro in progress) {
                info = pro.info;
                isSuccess = pro.isSuccess;
                icon = isSuccess ? 'check' : 'close';
                tempLi = '<li class="mdui-list-item mdui-ripple">\
                            <div class="mdui-list-item-content">{0}</div>\
                            <i class="mdui-list-item-icon mdui-icon material-icons">{1}</i>\
                          </li>';
                tempLi = tempLi.format(info, icon);
                htmlTag += tempLi;

                currentIndex++;
            }
            $("#js-progress-list").html(htmlTag);

            // 更新进度条
            // 计算 当前进度所在位置
            var count = $("#js-progress-bar").data("count");
            var currentPos = currentIndex / count * 100;
            $("#js-progress-bar .mdui-progress-determinate").width(currentPos + '%');
        }

        function stopGetProgress() {
            window.clearInterval(getProgressTimer);
            $("#js-progress-bar .mdui-progress-determinate").width('100%');
        }

        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/\{(\d+)\}/g, function (s, i) {
                return args[i];
            });
        };
    </script>
</head>
<body class="mdui-theme-primary-blue">
    <div class="mdui-container-fluid">
        <div class="mdui-row .mdui-typo">
            <h1 class="mdui-text-center">Remember 安装向导</h1>
        </div>
        <div class="mdui-row">
            <div id="js-content-info" class="mdui-col-xs-6 mdui-col-offset-xs-3">
                <!-- start 安装进度 -->
                <div class="mdui-row">
                    <div id="js-progress-bar" class="mdui-progress">
                        <div class="mdui-progress-determinate" style="width: 0%;"></div>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-col-xs-8 mdui-col-offset-xs-2">
                        <ul id="js-progress-list" class="mdui-list"></ul>
                    </div>
                </div>
                <!-- end 安装进度 -->
                <!-- start 开始安装按钮 -->
                <div id="js-install-btn" class="mdui-row">
                    <div class="mdui-col-xs-12">
                        @Ajax.ActionLink("开始安装", "Index", null, new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "js-content-info",
                            OnBegin = "startInstall",
                            OnSuccess = "stopGetProgress"
                        }, new { @class = "mdui-btn mdui-btn-block mdui-btn-raised mdui-ripple mdui-color-theme-800" })
                    </div>
                </div>
                <!-- end 开始安装按钮 -->
            </div>
        </div>
    </div>
</body>
</html>