@using Remember.Web.Models
@model InstallConfig
@{
    ViewBag.Title = "安装 Remember";
    Layout = "~/Views/Install/_InstallLayout.cshtml";
}
@section body {
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(function () {
        $("input").blur(function () {
            var name = $(this).attr("name");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index")",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    var that = $("input[name='" + name + "']");
                    console.log(name);
                    if (data.code == -1) {
                        // 若为 undefined 则说明不存在此输入框的错误
                        var haveFlag = data.errorInfos[name];
                        console.log(haveFlag);
                        if (typeof (haveFlag) == "undefined") {
                            // 此输入框无措，去掉错误状态
                            that.parent(".mdui-textfield").removeClass("mdui-textfield-invalid");
                        } else {
                            // 此输入框存在错误，给与提示
                            that.parent(".mdui-textfield").addClass("mdui-textfield-invalid");
                            that.parent(".mdui-textfield")
                                .children(".mdui-textfield-error")
                                .text(haveFlag);
                        }
                    } else if (data.code == 1) {
                        // 全部验证通过
                        $(".mdui-textfield-invalid").removeClass("mdui-textfield-invalid");
                    }
                }
            });
        });
    });
    function receiveRes(data) {
        var jsonObj = JSON.parse(data.responseText);
        // 先将之前全部错误状态清除,不需要移除错误提示，因为当错误类清除时会隐藏错误提示
        $(".mdui-textfield-invalid").removeClass("mdui-textfield-invalid");
        if (jsonObj.code == -1) {
            // 输入有误则提示
            for (var key in jsonObj.errorInfos) {
                $("input[name='" + key + "']")
                    .parent(".mdui-textfield")
                    .children(".mdui-textfield-error")
                    .text(jsonObj.errorInfos[key]);
                $("input[name='" + key + "']")
                    .parent(".mdui-textfield")
                    .addClass("mdui-textfield-invalid");
            }
        } else if (jsonObj.code == 1) {
            // 成功则跳转
            window.location.href = "@Url.Action("InstallProgress")";
        }
    }
</script>
}

<div id="js-content-info" class="mdui-row">
    <!-- start 安装表单 -->
    <div class="mdui-col-md-8 mdui-col-offset-md-2">
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod="Post", OnComplete = "receiveRes" }))
        {
        <div class="mdui-typo">
            <h6>填写数据库信息</h6>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">perm_data_setting</i>
            <label class="mdui-textfield-label">数据库主机</label>
            <input name="dbhost" class="mdui-textfield-input" type="text" value="localhost" />
            <div class="mdui-textfield-error"></div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">label</i>
            <label class="mdui-textfield-label">数据库名</label>
            <input name="dbname" class="mdui-textfield-input" type="text" value="rememberdb" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">account_balance_wallet</i>
            <label class="mdui-textfield-label">数据库用户名</label>
            <input name="dbuser" class="mdui-textfield-input" type="text" value="root" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">lock</i>
            <label class="mdui-textfield-label">数据库密码</label>
            <input name="dbpw" class="mdui-textfield-input" type="password" value="root" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-typo">
            <h6>填写管理员信息</h6>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label">管理员账号</label>
            <input name="username" class="mdui-textfield-input" type="text" maxlength="30" value="admin" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">assignment_ind</i>
            <label class="mdui-textfield-label">管理员密码</label>
            <input name="password" class="mdui-textfield-input" type="password" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">assignment_ind</i>
            <label class="mdui-textfield-label">重复密码</label>
            <input name="passwordConfirm" class="mdui-textfield-input" type="password" />
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-p-y-5">
            <input id="js-install-btn" class="mdui-btn mdui-btn-block mdui-btn-raised mdui-ripple mdui-color-theme-800" type="submit" value="开始安装" />
        </div>
        }
    </div>
    <!-- end 安装表单 -->
</div>
