@{
	Layout = "~/Areas/Account/Views/Shared/_LayoutMain.cshtml";
	ViewBag.Title = "重置密码 - TES";
}

@section head{
	<link href="/assets/css/fpwd.css" rel="stylesheet" />
}
<div class="container">
	<div>
		<div class="step-nav">
			<div class="step-list">
				<a href="#" class="fl active">
					<span class="step-icon fl">1</span>
					<div class="step-title fl">确认账号</div>
					<i class="step-line fl"></i>
				</a>
				<a href="#" class="fl">
					<span class="step-icon fl">2</span>
					<div class="step-title fl">重置密码</div>
					<i class="step-line fl"></i>
				</a>
				<a href="#" class="fl">
					<span class="step-icon fl">3</span>
					<div class="step-title fl">重置成功</div>
					<i class="step-line fl"></i>
				</a>
			</div>
		</div>
		<div class="step-container"></div>
		<div class="data-step" style="display: none;">
			<input type="hidden" class="userName" value="" />
			<input type="hidden" class="ticket" value="" />
			<input type="hidden" class="randStr" value="" />
		</div>
	</div>
</div>
@section foot{
	<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
	<script src="/assets/js/fpwd.js"></script>
}