@model Remember.Domain.CardInfo
@{
    ViewBag.Title = ViewBag.CardBox.Name + "添加 - 卡片";
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />

<div style="text-align: center;">
    <button class="layui-btn layui-btn-sm" onclick="onSubmit()">保存</button>
    <button class="layui-btn layui-btn-sm" onclick="onCancel()">取消</button>
</div>
<form class="layui-form">
    @Html.Hidden("CardBox.ID", (int)ViewBag.CardBox.ID)
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Content, new { @class = "layui-form-label" })
        <div class="layui-input-block layui-form-text">
            @Html.TextAreaFor(model => model.Content, new { @class = "layui-textarea", placeholder = "请输入" + Html.DisplayNameFor(m => m.Content), autocomplete = "off" })
        </div>
    </div>
</form>

<script src="~/dist/layui/layui.js"></script>
<script src="~/dist/jquery/jquery-3.3.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        form = layui.form
        , layer = layui.layer;
    });

    function onSubmit() {
        // 1.验证输入
        // 1.1 盒名
        if ($.trim($("#Content").val()) == "") {
            layer.msg("请输入内容")
            $("#Content").focus();
            return;
        }
        if (getByteLen($("#Content").val().trim()) > 1000) {
            layer.msg("内容不能超过1000个字符");
            $("#Content").focus();
            return;
        }
        // 2.提交数据
        $.ajax({
            type: "post",
            url: "/CardInfo/Create",
            data: $("form").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    // 提交成功
                    // 3.关闭弹窗
                    parent.layer.close(parent.layer.index);
                } else if (data.code == -2) {
                    // 未登录
                    layer.msg(data.message);
                } else {
                    // 提交失败
                    layer.msg(data.message);
                }
            }
        });
    }

    function onCancel() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }

    // 求字符串长度——汉字算2
    function getByteLen(val) {
        var len = 0;
        for (var i = 0; i < val.length; i++) {
            var a = val.charAt(i);
            if (a.match(/[^\x00-\xff]/ig) != null) {
                len += 2;
            } else {
                len += 1;
            }
        }
        return len;
    }
</script>