@model Remember.Domain.CardInfo
@{
    ViewBag.Title = "Details";
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />
<link href="~/css/editor.css" rel="stylesheet" />

<div style="text-align: center;">
    <button class="layui-btn layui-btn-sm" onclick="onClose()">返回</button>
</div>
<form class="layui-form">
    <div class="layui-form-item layui-form-text">
        @Html.LabelFor(model => model.Content, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.Raw(Model.Content)
        </div>
    </div>
</form>

<script src="~/dist/layui/layui.js"></script>
<script src="~/dist/jquery/jquery-3.3.1.min.js"></script>
<script>
    layui.use('form', function () {
        form = layui.form;
    });

    function onClose() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>