@model Remember.Domain.CardInfo
@{
    ViewBag.Title = "Edit";
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />

<div style="text-align: center;">
    <button class="layui-btn layui-btn-sm" onclick="onSubmit()">保存</button>
    <button class="layui-btn layui-btn-sm" onclick="onCancel()">取消</button>
</div>
<form class="layui-form">
    @Html.HiddenFor(model => model.ID)
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Content, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            <div id="js-editArea" class="layui-textarea"></div>
            @Html.TextAreaFor(model => model.Content, new { style = "display: none;" })
        </div>
    </div>
</form>

<script src="~/dist/layui/layui.js"></script>
<script src="~/dist/jquery/jquery-3.3.1.min.js"></script>
<script src="~/dist/wangEditor/wangEditor.min.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        form = layui.form
        , layer = layui.layer;
    });

    var E = window.wangEditor;
    var editor = new E('#js-editArea');
    var $hiddenEditArea = $("#Content");
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $hiddenEditArea.val(html)
    }
    editor.create();
    // 初始化 编辑区 的值
    editor.txt.html($hiddenEditArea.val());

    function onSubmit() {
        // 1.验证输入
        // 2.提交数据
        $.ajax({
            type: "post",
            url: "/CardInfo/Edit",
            data: $("form").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    // 提交成功
                    // 3.关闭弹窗
                    parent.layer.close(parent.layer.index);
                } else if (data.code == -1) {
                    // 提交失败
                    layer.msg(data.message);
                }
            }
        });
    }

    function onCancel() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }

    // 求字符串长度——汉字算2
    function getByteLen(val) {
        var len = 0;
        for (var i = 0; i < val.length; i++) {
            var a = val.charAt(i);
            if (a.match(/[^\x00-\xff]/ig) != null) {
                len += 2;
            } else {
                len += 1;
            }
        }
        return len;
    }
</script>