<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Test</title>
	<link href="/assets/libs/mdui/dist/css/mdui.min.css" rel="stylesheet" />
	<link href="/assets/css/app.css" rel="stylesheet" />
	<style>
		.dialog-content {
			padding: 30px;
		}

		#content-drawer {
			padding: 20px;
			font-size: 50px;
		}

		#content-main {
			padding: 20px;
			width: 100%;
			height: 700px;
			font-size: 50px;
		}

		#content-footer {
			padding: 30px;
		}
	</style>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo">
	<!-- 头部 -->
	<header class="mdui-appbar mdui-appbar-fixed" id="content-header">
		<div class="mdui-toolbar mdui-color-theme">
			<span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#content-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
			<a href="" class="mdui-typo-headline mdui-hidden-xs">标题</a>
			<a href="" class="mdui-typo-title">子标题</a>
			<div class="mdui-toolbar-spacer"></div>
			@*<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>*@
			<div style="width: 30%;">
				<div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
					<button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></button>
					<input class="mdui-textfield-input" type="text" placeholder="Search" />
					<button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
				</div>
			</div>
			<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
			<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
		</div>
	</header>
	<!-- 侧边栏 -->
	<div class="mdui-drawer" id="content-drawer">
		<div class="mdui-list">
			<a href="/" class="mdui-list-item">
				<i class="mdui-list-item-icon mdui-icon material-icons">home</i>
				<div class="mdui-list-item-content">首页</div>
			</a>
			<a href="/questions" class="mdui-list-item">
				<i class="mdui-list-item-icon mdui-icon material-icons">forum</i>
				<div class="mdui-list-item-content">问答</div>
			</a>
		</div>
	</div>
	<!-- 内容 -->
	<div class="mdui-container" id="content-main">
		@RenderBody()
	</div>
	<!-- 尾部 -->
	<div class="mdui-color-theme app-footer-nav" id="content-footer">
		<div class="mdui-container">
			<div class="mdui-row">
				<a href="./list" class="mdui-ripple mdui-color-theme mdui-col-xs-2 mdui-col-sm-6 app-footer-nav-left">
					<div class="app-footer-nav-text">
						<i class="mdui-icon material-icons">arrow_back</i>
						<span class="app-footer-nav-direction mdui-hidden-xs-down">Previous</span>
						<div class="app-footer-nav-chapter mdui-hidden-xs-down">列表</div>
					</div>
				</a>
				<a href="./grid_list" class="mdui-ripple mdui-color-theme mdui-col-xs-10 mdui-col-sm-6 app-footer-nav-right">
					<div class="app-footer-nav-text">
						<i class="mdui-icon material-icons">arrow_forward</i>
						<span class="app-footer-nav-direction">Next</span>
						<div class="app-footer-nav-chapter">网格列表</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<script src="/assets/libs/mdui/dist/js/mdui.min.js"></script>
</body>
</html>
