
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>排行榜</title>
	<script src="~/plugins/RankingChart/dist/hrd3/jquery-1.6.4.min.js"></script>
	<script src="~/plugins/RankingChart/dist/hrd3/d3.min.js"></script>
	<link href="~/plugins/RankingChart/dist/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div>
		<div class="btn btn-group">
			<button class="btn btn-primary" onclick="reLoad()">重新加载</button>
		</div>
		<center>
			<svg width="1900" height="1020"></svg>
		</center>
	</div>
	<script>
		function reLoad() {
			window.location.href = window.location.href;
		}
	</script>
	<script src="~/plugins/RankingChart/dist/hrd3/config.js"></script>
	<script src="~/plugins/RankingChart/dist/hrd3/imgs.js"></script>
	<script src="~/plugins/RankingChart/dist/hrd3/color_ranges.js"></script>
	<script src="~/plugins/RankingChart/dist/hrd3/visual.js"></script>
	<link rel="stylesheet" href="~/plugins/RankingChart/dist/hrd3/stylesheet.css">
</body>
</html>
