
@{
	Layout = "~/Views/Shared/_LayoutCard.cshtml";
}

<div class="mdui-row">
	<div class="mdui-col-xs-12 mdui-typo">
		<div class="mdui-panel" mdui-panel>
			<div class="mdui-panel-item mdui-panel-item-open">
				<div class="mdui-panel-item-header">
					<div class="mdui-panel-item-title">问</div>
					<i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
				</div>
				<div class="mdui-panel-item-body">
					<p>First content</p>
					<p>First content</p>
					<p>First content</p>
					<p>First content</p>
					<p>First content</p>
					<p>First content</p>
				</div>
			</div>
			<div class="mdui-panel-item">
				<div class="mdui-panel-item-header">
					<div class="mdui-panel-item-title">答</div>
					<i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
				</div>
				<div class="mdui-panel-item-body">
					<p>Second content</p>
					<p>Second content</p>
					<p>Second content</p>
					<p>Second content</p>
					<p>Second content</p>
					<p>Second content</p>
				</div>
			</div>
			<div class="mdui-panel-item">
				<div class="mdui-panel-item-header">
					<div class="mdui-panel-item-title">讨论</div>
					<i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
				</div>
				<div class="mdui-panel-item-body">
					<p>Third content</p>
					<p>Third content</p>
					<p>Third content</p>
					<p>Third content</p>
					<p>Third content</p>
					<p>Third content</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mdui-row">
	<div class="mdui-col-xs-12">
		<button class="mdui-btn mdui-btn-block mdui-btn-raised mdui-color-theme mdui-ripple">查看答案</button>
	</div>
	<div class="mdui-col-xs-12">
		<label class="mdui-slider mdui-slider-discrete">
			<input type="range" step="1" min="0" max="100" />
		</label>
	</div>
</div>

