
@{
	Layout = null;
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>编辑笔记</title>
	<link href="/assets/libs/mdui/dist/css/mdui.min.css" rel="stylesheet" />
	<link href="/assets/libs/At.js/dist/css/jquery.atwho.min.css" rel="stylesheet" />
	<link href="/assets/libs/wangEditor/wangEditor.min.css" rel="stylesheet" />
	<link href="/assets/css/app.css" rel="stylesheet" />
	<style>
		.dialog-content {
			padding: 30px;
		}

		#content-main {
			/*padding: 20px;*/
			width: 100%;
			/*height: 700px;*/
			/*font-size: 50px;*/
		}
	</style>
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-bottom-nav-fixed">
	<!-- 头部 -->
	<header class="mdui-appbar mdui-appbar-fixed" id="content-header">
		<div class="mdui-toolbar mdui-color-white mdui-text-color-theme">
			<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">navigate_before</i></a>
			<div class="mdui-toolbar-spacer"></div>
			<a id="js-refresh" href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
			<a id="js-btn-save" href="javascript:;" class="mdui-btn mdui-btn-icon" onclick="return saveData();"><i class="mdui-icon material-icons">check</i></a>
		</div>
	</header>
	<!-- 内容 -->
	<div class="mdui-container" id="content-main">
		<div class="mdui-row">
			<div class="mdui-col-xs-12">
				@*<div id="js-editArea" class="mdui-col"></div>
					<textarea id="js-content" style="display: none;"></textarea>*@
				<div id="js-content" class="mdui-textfield mdui-textfield-invalid">
					<textarea class="mdui-textfield-input" rows="10" placeholder="Message" maxlength="140"></textarea>
					<div class="mdui-textfield-error">错误消息</div>
				</div>
				<label class="mdui-switch mdui-p-l-2 mdui-valign">
					<input type="checkbox" checked />
					<i class="mdui-switch-icon"></i>&nbsp;&nbsp;公开
				</label>
			</div>
		</div>
		<div class="mdui-row">
			<div class="mdui-col-xs-12">
			</div>
		</div>
	</div>
	<script src="/assets/libs/mdui/dist/js/mdui.min.js"></script>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/Caret.js/dist/jquery.caret.min.js"></script>
	<script src="/assets/libs/At.js/dist/js/jquery.atwho.min.js"></script>
	<script src="/assets/libs/wangEditor/wangEditor.min.js"></script>
	<script>
		var $$ = mdui.JQ;

		$(function () {

			$("#js-refresh").on("click", function () {
				window.location.href = window.location.href;
			});

			//// start editor
			//var E = window.wangEditor;
			//var editor = new E('#js-editArea');
			//var $hiddenEditArea = $("#js-content");
			//editor.customConfig.onchange = function (html) {
			//	// 监控变化，同步更新到 textarea
			//	$hiddenEditArea.val(html);
			//}
			//editor.create();
			//editor.txt.html($hiddenEditArea.val());
			//// 初始化 textarea 的值
			//$hiddenEditArea.val(editor.txt.html())
			//// end editor

		});

	</script>
</body>
</html>
