@using Core
@using Services.Interface
@{
	Layout = null;

	string webName = ViewBag.WebName;
	string footer = ContainerManager.Resolve<ISettingService>().GetSet("Web.Footer");
}

<footer class="main-footer">
	<div class="container">
		<!-- To the right -->
		<div class="pull-right hidden-xs">
			@webName
		</div>
		<!-- Default to the left -->
		<div class="pull-left hidden-xs">
			@Html.Raw(footer)
			<p>Powered by <strong><a href="https://github.com/yiyungent/remember" target="_blank">remember</a></strong> <em>X0.1</em></p>
		</div>
	</div>
	<!-- /.container -->
</footer>
