
@{
	Layout = null;
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>添加视频 - 软件工程</title>
	<link href="/assets/libs/mdui/dist/css/mdui.min.css" rel="stylesheet" />
	<link href="/assets/css/app.css" rel="stylesheet" />
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-bottom-nav-fixed">
	<!-- 头部 -->
	<header class="mdui-appbar mdui-appbar-fixed">
		<div class="mdui-toolbar mdui-color-white mdui-text-color-theme">
			<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">navigate_before</i></a>
			<a id="js-refresh" href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
			<a href="" class="mdui-typo-title">添加视频 - 软件工程</a>
			<div class="mdui-toolbar-spacer"></div>
			<a id="js-btn-save" href="javascript:;" class="mdui-btn mdui-btn-icon" onclick="return saveData();"><i class="mdui-icon material-icons">check</i></a>
		</div>
	</header>
	<!-- 内容 -->
	<div class="mdui-container">
		<div class="mdui-row">
			<div class="mdui-col-xs-12 mdui-col-md-6 mdui-col-offset-md-3">
				<div class="mdui-textfield mdui-textfield-floating-label">
					<i class="mdui-icon material-icons">title</i>
					<label class="mdui-textfield-label">视频标题</label>
					<input class="mdui-textfield-input" type="text" />
				</div>
				<div class="mdui-tab" mdui-tab>
					<a href="#js-tab1" class="mdui-ripple">本地上传</a>
					<a href="#js-tab2" class="mdui-ripple">网络视频</a>
					<a href="#js-tab3" class="mdui-ripple">
						<i class="mdui-icon material-icons">help</i>
					</a>
				</div>
				<div id="js-tab1" class="mdui-p-a-2">web content</div>
				<div id="js-tab2" class="mdui-p-a-2">
					<div class="mdui-textfield mdui-textfield-floating-label">
						<i class="mdui-icon material-icons">ondemand_video</i>
						<label class="mdui-textfield-label">视频播放地址</label>
						<input class="mdui-textfield-input" type="text" />
					</div>
				</div>
				<div id="js-tab3" class="mdui-p-a-2">images content</div>
			</div>
		</div>
		<div class="mdui-row">
			<div class="mdui-col-xs-12 mdui-col-md-6 mdui-col-offset-md-3">
			</div>
		</div>
	</div>
	<script src="/assets/libs/mdui/dist/js/mdui.min.js"></script>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script>
		var $$ = mdui.JQ;

		$(function () {

			$("#js-refresh").on("click", function () {
				window.location.href = window.location.href;
			});



		});

	</script>
</body>
</html>
