<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>{{courseBox? '无此课程' : courseBox.name}}</title>
	<link href="/assets/libs/mdui/dist/css/mdui.min.css" rel="stylesheet" />
	<link href="/assets/css/app.css" rel="stylesheet" />
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-bottom-nav-fixed">
	<div id="app">
		<!-- 头部 -->
		<header class="mdui-appbar mdui-appbar-fixed">
			<div class="mdui-toolbar mdui-color-white mdui-text-color-theme">
				<template v-if="courseBox!=null">
					<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">navigate_before</i></a>
					<a href="javascript:;" class="mdui-btn mdui-btn-icon" v-on:click="refreshPage"><i class="mdui-icon material-icons">refresh</i></a>
					<a href="javascript:;" class="mdui-typo-title">{{courseBox.name}}</a>
					<div class="mdui-toolbar-spacer"></div>
					<a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#js-more-menu'}"><i class="mdui-icon material-icons">more_vert</i></a>
					<ul id="js-more-menu" class="mdui-menu">
						<template v-if="isILearn">
							<li class="mdui-menu-item">
								<a href="javascript:;" class="mdui-ripple">
									<i class="mdui-menu-item-icon mdui-icon material-icons">cancel</i>取消学习
								</a>
							</li>
						</template>
						<template v-else>
							<li class="mdui-menu-item">
								<a href="javascript:;" class="mdui-ripple">
									<i class="mdui-menu-item-icon mdui-icon material-icons">add</i>加入学习
								</a>
							</li>
						</template>
						<template v-if="isICreate">
							<li class="mdui-divider"></li>
							<li class="mdui-menu-item">
								<a href="javascript:;" class="mdui-ripple">
									<i class="mdui-menu-item-icon mdui-icon material-icons">edit</i>编辑
								</a>
							</li>
							<li class="mdui-menu-item">
								<a href="javascript:;" class="mdui-ripple">
									<i class="mdui-menu-item-icon mdui-icon material-icons">delete</i>删除
								</a>
							</li>
							<li class="mdui-menu-item">
								<a href="javascript:;" class="mdui-ripple">
									<i class="mdui-menu-item-icon mdui-icon material-icons">add</i>添加课件
								</a>
							</li>
						</template>
						<li class="mdui-divider"></li>
						<li class="mdui-menu-item">
							<a v-bind:href="'/CourseBox/Report?id='+courseBox.id" class="mdui-ripple">
								<i class="mdui-menu-item-icon mdui-icon material-icons">mood_bad</i>举报
							</a>
						</li>
					</ul>
				</template>
				<template v-else>
					<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">navigate_before</i></a>
					<a href="javascript:;" class="mdui-btn mdui-btn-icon" v-on:click="refreshPage"><i class="mdui-icon material-icons">refresh</i></a>
					<a href="javascript:;" class="mdui-typo-title">无此课程</a>
				</template>
			</div>
		</header>
		<!-- 内容 -->
		<div class="mdui-container">
			<div class="mdui-row">
				<div class="mdui-col-xs-12 mdui-col-md-6 mdui-col-offset-md-3">
					<div class="mdui-card" v-if="courseBox!=null">

						<!-- 卡片头部，包含头像、标题、副标题 -->
						<div class="mdui-card-header">
							<img class="mdui-card-header-avatar" v-bind:src="user.avatar" />

							<div class="mdui-card-header-title">{{user.name}}</div>
							<div class="mdui-card-header-subtitle">{{user.userName}}</div>
						</div>

						<!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
						<div class="mdui-card-media">
							<img v-bind:src="courseBox.picUrl" />

							<!-- 卡片中可以包含一个或多个菜单按钮 -->
							<div class="mdui-card-menu">
								<button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
							</div>
						</div>

						<!-- 卡片的标题和副标题 -->
						<div class="mdui-card-primary">
							<div class="mdui-card-primary-title">{{courseBox.name}}</div>
							<div class="mdui-card-primary-subtitle">学习时长： 222.5h </div>
						</div>

						<!-- 卡片的内容 -->
						<div id="js-description" class="mdui-card-content">
							<template v-if="courseBox.description.length<=10">
								{{courseBox.description}}
							</template>
							<template v-else>
								<span>{{isFold?courseBox.description.substr(0,10):courseBox.description}}{{isFold?'...':''}}</span>
								<button class="mdui-btn mdui-btn-icon mdui-float-right" v-on:click="foldDesc()"><i class="mdui-icon material-icons">{{isFold?'expand_more':'keyboard_arrow_up'}}</i></button>
							</template>
						</div>

						<!-- 卡片的按钮 -->
						<div class="mdui-card-actions">
							<button class="mdui-btn mdui-ripple">加入学习</button>
						</div>

					</div>
					<div class="mdui-text-center" v-else>
						<h2>无此课程</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部导航栏 -->
		<div class="mdui-bottom-nav mdui-color-white mdui-text-color-theme mdui-shadow-24">
			<a v-bind:href="'/CourseBox/Catalog?id='+courseBox.id" class="mdui-ripple mdui-bottom-nav-active">
				<i class="mdui-icon material-icons">edit</i>
				<label>课程目录</label>
			</a>
			<a v-bind:href="'/CourseBox/Comment?id='+courseBox.id" class="mdui-ripple mdui-bottom-nav-active">
				<i class="mdui-icon material-icons">sms</i>
				<label>评论</label>
			</a>
			<a href="javascript:;" class="mdui-ripple mdui-bottom-nav-active">
				<i class="mdui-icon material-icons">insert_chart</i>
				<label>统计</label>
			</a>
		</div>
	</div>
	<script src="/assets/libs/mdui/dist/js/mdui.min.js"></script>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/axios/dist/axios.js"></script>
	<script src="/assets/libs/vue/dist/vue.js"></script>
	<script src="/assets/js/app.js"></script>
	<script>
		var $$ = mdui.JQ;
		var vue = new Vue({
			el: '#app',
			data: {
				courseBox: null,
				user: {
					id: 1,
					avatar: '',
					name: '',
					userName: ''
				},
				isFold: true,
				isILearn: true,
				isICreate: true
			},
			mounted: function () {
				// load CourseBox
				axios({
					method: 'get',
					url: 'CourseBox',
					params: {
						id: getQueryVariable('id')
					}
				})
					.then(function (response) {
						console.log(response);
						vue.courseBox = response.data;
					})
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
				// load user
				axios({
					method: 'get',
					url: 'User',
				})
					.then(function (response) {
						console.log(response);
						vue.user = response.data;
					})
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
			},
			methods: {
				foldDesc: function () {
					vue.isFold = !vue.isFold;
				},
				refreshPage: function () {
					window.location.href = window.location.href;
				}
			}
		});

	</script>
</body>
</html>
