@{
    Layout = null;
    ViewBag.Title = "layout 后台大布局 - Layui";
    
    IList<Remember.Domain.SysMenu> allMenuList = ViewBag.AllMenuList;
    var firstMenuList = from m in allMenuList
                    where m.ParentMenu == null
                    orderby m.SortCode
                    select m;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/dist/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    @foreach (var firstMenuItem in firstMenuList)
                    {
                        var subSecondMenuList = from m in allMenuList
                                             where m.ParentMenu != null && m.ParentMenu.ID == firstMenuItem.ID
                                             orderby m.SortCode ascending
                                             select m;
                        <li class="layui-nav-item">
                            <a href="javascript:;">@firstMenuItem.Name</a>
                            <dl class="layui-nav-child">
                                @foreach (var secondMenuItem in subSecondMenuList)
                                {
                                <dd>@Html.ActionLink(secondMenuItem.Name, secondMenuItem.ActionName, secondMenuItem.ControllerName, null, new { target = "iframe-content" })</dd>
                                }
                            </dl>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <iframe name="iframe-content" style="padding: 15px; width: 100%; height: 100%; border: none;">内容主体区域</iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="~/dist/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>
