@using ArticleContent.Models
@model IEnumerable<ArticleModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
		<table>
			<tr>
				<th>ID</th>
				<th>标题</th>
				<th>内容</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.ID</td>
					<td>@item.Title</td>
					<td>@item.Content</td>
					<td>@item.Author.Name</td>
				</tr>
			}
		</table>
    </div>
</body>
</html>
