
@{
	Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="mdui-row">
	<div class="mdui-col-xs-12">
		<label class="mdui-slider mdui-slider-discrete">
			<input type="range" step="1" min="0" max="100" />
		</label>
	</div>
</div>

