@using Framework.Extensions
@{
	Layout = null;

	string webUIName = WebSetting.Get("WebUITitle").Split(new string[] { "-", " " }, StringSplitOptions.RemoveEmptyEntries)[0];
	string copyright = "<strong>Copyright &copy; 2019 <a href='#'>" + webUIName + "</a>.</strong> All rights reserved."; //WebSetting.Get("Copyright");
}

<footer class="main-footer">
	<div class="container">
		<div class="pull-right hidden-xs">
			<b>@webUIName</b> 0.2.0
		</div>
		@Html.Raw(copyright)
	</div>
	<!-- /.container -->
</footer>
