@using Domain.Entities
@using Framework.Models
@using Framework.Infrastructure.Concrete
@{
	Layout = null;
	//CurrentAccountModel currentAccount = ViewBag.CurrentAccount;
	UserInfo currentUserInfo = AccountManager.GetCurrentUserInfo();
	string roleName = ViewBag.RoleName;
}

@*<li class="dropdown notifications-menu">
		<!-- Menu toggle button -->
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bell-o"></i>
			<span class="label label-warning">10</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">You have 10 notifications</li>
			<li>
				<!-- Inner Menu: contains the notifications -->
				<ul class="menu">
					<li>
						<!-- start notification -->
						<a href="#">
							<i class="fa fa-users text-aqua"></i> 5 new members joined today
						</a>
					</li>
					<!-- end notification -->
				</ul>
			</li>
			<li class="footer"><a href="#">全部</a></li>
		</ul>
	</li>*@
